# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
