# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
# .idea folder
.idea/
# Except for these specific files
!/.idea/modules.xml
!/.idea/vcs.xml
!/.idea/encodings.xml
!/.idea/misc.xml
# Add other shareable .idea files as needed   

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
